<p class="font-bold mt-4">
  Bank of America, NA
</p>
<p class="flex justify-between">
  <span class="italic">Operations Team Lead&nbsp;</span>
  <span class="italic">Jan. 2010 &mdash; Dec. 2011&nbsp;&nbsp;</span>
</p>
<p class="flex justify-between">
  <span class="italic">Litigation Specialist&nbsp;</span>
  <span class="italic">Sept. 2008 &mdash; June 2009</span>
</p>
<p class="paragraph mt-4">
  As an Operations Team Lead I managed a team of litigation specialists assisting them in arranging competent legal representation in thousands of legal proceedings across the country. My primary responsibilities included monitoring and reviewing performance of my staff, presenting high risk cases to management, researching discovery responses, and negotiating settlement agreements.
</p>
