<p class="font-bold mt-2">
  Contract Services
</p>
<p class="flex justify-between">
  <span class="italic">IT Project Manager&nbsp;</span>
  <span class="italic">Apr. 2016 &mdash; Present&nbsp;&nbsp;&nbsp;</span>
</p>
<p class="flex justify-between">
  <span class="italic">Software Developer&nbsp;</span>
  <span class="italic">Apr. 2014 &mdash; Apr. 2016</span>
</p>
<p class="paragraph mt-4">
  As a Project Manager my primary responsibility is to design site architecture and lead development of enterprise web applications. In this role I spend around thirty percent of my time coding with the remaining time spent on code review and breaking projects up into well defined deliverables for the engineering team.
</p>
<p class="paragraph">
  One particularly successful project we worked on is a custom transportation compliance solution enabling paperless administration of commercial driver qualification files. The success of this project doubled the number of transportation services offered by the company and an entire department was staffed to utilize the application.
</p>
<p class="paragraph">
  I also successfully transitioned the engineering team to a workflow loosely based on agile methodologies, established scalable coding standards, and prioritized automated test coverage. I'm particularly proud of this accomplishment because the company had grown rapidly and there was no existing process to build on. Once in place our new workflow yielded an exponential increase in developer productivity and a decrease in the number of bugs found by our quality assurance team.
</p>
