<p class="font-bold mt-4">
  Fancloud, LLC
</p>
<p class="flex justify-between">
  <span class="italic">Co-founder&nbsp;</span>
  <span class="italic">Dec. 2011 &mdash; Jan. 2014</span>
</p>
<p class="paragraph mt-2">
  I started this company with the goal of organizing tweets pertaining to sporting events. Though the company ultimately failed as a business we gained invaluable experience and enjoyed a number of successes along the way. We were able to build a product we were proud of, raise funding, and pitch to many large media companies across the country.
</p>
<p class="paragraph">
  Beyond the business lessons, as the technical founder my responsibilities crossed many different disciplines. This experience left me with a well-rounded understanding of everything from search engine optimization, configuring AWS services, monitoring server load and site traffic, implementing continuous integration techniques, and a plethora of other technical odds and ends that go into launching a web based product.
</p>
