<h2 class="section">
  Contact
</h2>
<div class="flex mt-2">
  <i class="fas fa-envelope text-black mr-1" data-fa-transform="shrink-2"></i>
  <a class="icon-text" href="mailto:benbjurstrom@gmail.com">benbjurstrom@gmail.com</a>
</div>
<div class="flex mt-2">
  <i class="fas fa-phone text-black mr-1" data-fa-transform="shrink-3"></i>
  <span class="icon-text">805.338.5375</span>
</div>
<div class="flex mt-2">
  <i class="fas fa-home text-black" data-fa-transform="shrink-2"></i>
  <span class="icon-text">1197-C E Los Angeles Ave <br> Simi Valley, CA 93065</span>
</div>
<div class="flex mt-2">
  <i class="fab fa-github-alt text-black mr-1" data-fa-transform="shrink-1"></i>
  <a class="icon-text" href="https://github.com/benbjurstrom">github.com/benbjurstrom</a>
</div>
