<h2 class="section">
  Technical Skills
</h2>
<div class="flex mt-2">
  <div class="w-1/2 mr-1">
    <p class="font-bold">
      Languages:
    </p>
    <p class="mt-1">
      PHP, JavaScript, TypeScript, Go, PostgreSQL, CSS, HTML
    </p>
  </div>
  <div class="w-1/2 ml-1">
    <p class="font-bold">
      Tools & Services:
    </p>
    <p class="mt-1">
      Kubernetes, Docker, Swagger, Webpack, Xdebug, AWS, Git
    </p>
  </div>
</div>
<div class="flex mt-2">
  <div class="w-1/2 mr-1">
    <p class="font-bold">
      Frameworks:
    </p>
    <p class="mt-1">
      Laravel, Vue.js, NuxtJS, Labstack/Echo
    </p>
  </div>
  <div class="w-1/2 ml-1">
    <p class="font-bold">
      Libraries:
    </p>
    <p class="mt-1">
      PHPUnit, Axios, Vuex, Tailwindcss, Eslint, Vapor
    </p>
  </div>
</div>
