<h2 class="section">
  Technical Skills
</h2>
<div class="flex mt-2">
  <div class="w-1/2 mr-1">
    <p class="font-bold">
      Languages:
    </p>
    <p class="mt-1">
      PHP, JavaScript, TypeScript, Go, SQL, CSS, HTML
    </p>
  </div>
  <div class="w-1/2 ml-1">
    <p class="font-bold">
      Tools & Services:
    </p>
    <p class="mt-1">
      Git, Docker, Swagger, NPM, Webpack, Xdebug, Chrome Developer Tools, AWS
    </p>
  </div>
</div>
<div class="flex mt-2">
  <div class="w-1/2 mr-1">
    <p class="font-bold">
      Frameworks:
    </p>
    <p class="mt-1">
      Laravel, Vue.js, Labstack/Echo
    </p>
  </div>
  <div class="w-1/2 ml-1">
    <p class="font-bold">
      Libraries:
    </p>
    <p class="mt-1">
      PHPUnit, Ava, Axios, Bootstrap
    </p>
  </div>
</div>
